.home {
    height: 500px;
    width: 100%;
    padding-top: 2%;
    margin: auto;
    display: inline-flex;
    margin: auto;
}

.hometext {
    width: 50%;
    padding-top: 50px;
    margin-left: 10%;
    color: azure;
    justify-content: center;
    justify-items: center;
    margin: auto;
    font-size: large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.hometext:hover {
    color: brown;
}

.homeonetext {
    font-size: large;
    justify-content: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.homepargerph {
    color: white;
    justify-content: center;
    justify-items: center;
}

.homepargerph :hover {
    color: yellow;
}

.homeimg {
    width: 50%;
    padding-top: 0px;
    color: black;
    justify-content: center;
    justify-items: center;
    height: 300px;
    width: 300px;
    margin: auto;
}

#imgshow {
    height: 300px;
    width: 300px;
    margin: auto;
}

* {
    box-sizing: border-box
}


/* Slideshow container */

.slideshow-container {
    max-width: 300px;
    height: 300px;
    position: relative;
    margin: auto;
}


/* Hide the images by default */

.mySlides {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media only screen and (max-width: 600px) {
    .home {
        display: inline-block;
        padding-top: 5px;
    }
}

@media only screen and (min-width: 600px) {
    .home {
        display: inline-block;
        padding-top: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .home {
        display: inline-flex;
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    .home {
        display: inline-flex;
        padding: 5px;
    }
}

@media only screen and (min-width: 1200px) {
    .home {
        display: inline-flex;
        padding: 5px;
    }
}